@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ql-editor img {
  margin: auto;
}

.ant-dropdown-menu-item:hover {
  background-color: #3562ae !important;
  color: white !important;
  font-weight: bold !important;
}

/* offset */

div:target {
  padding-top: 50px; /*height of your navbar*/
  margin-top: -50px;
}

.ant-image-preview-wrap {
  background-color: white !important;
}
