@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ql-editor img {
  margin: auto;
}

.ant-dropdown-menu-item:hover {
  background-color: #3562ae !important;
  color: white !important;
  font-weight: bold !important;
}

/* offset */

div:target {
  padding-top: 50px; /*height of your navbar*/
  margin-top: -50px;
}

.ant-image-preview-wrap {
  background-color: white !important;
}

/* cookie */
.cookieBottom {
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  background: #3562ae;
  color: #ffffff;

  font-weight: 400;
  line-height: 150%;
  padding: 30px 15px;
}

.cookieBottom .btn {
  width: 100%;
  float: right;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  padding: 8px 0;
}

.cookieBottom .btn:hover {
  background: #ffffff;
  color: #3562ae;
}

.cookieBottom a {
  color: #ffffff;
  text-decoration: underline;
}

.cookieBottom ul {
  width: 100%;
  display: table;
  padding: 0;
  margin: 0;
}

.cookieBottom ul > li {
  display: table-cell;
  vertical-align: middle;
}

.cookieBottom ul > li:last-child {
  width: 160px;
}

@media (min-width: 768px) {
  .cookieBottom ul > li:not(:last-child) {
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .cookieBottom ul > li {
    display: block;
    margin: 0 auto;
  }

  .cookieBottom ul > li:not(:last-child) {
    margin-bottom: 15px;
  }
}

/*====================*/

.cookieBottom .cookieBottom-title {
  font-weight: 700;
  font-size: 18px;
}

.cookieBottom .cookie-content {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .cookieBottom .cookieBottom-title {
    font-size: 16px;
  }
}

/*====================*/

.cookie-box {
  margin: 100px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #312f2f;
}

.cookie-box a:link,
.cookie-box a:visited {
  color: #312f2f;
  text-decoration: none;
}

.cookie-box a:hover {
  color: #3562ae;
  text-decoration: underline;
}

/*====================*/

.cookieText {
  position: relative;
  background: #ffffff;
  font-weight: 400;
  margin: 15px 0 0 0;
}

.cookieText strong {
  font-weight: 500;
}

.cookieText.margin-t50 {
  margin-top: 50px;
}

.cookieText.margin-t100 {
  margin-top: 100px;
}

.cookieText.text-right {
  text-align: right;
}

/*====================*/

.cookie-title {
  margin: 50px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  font-size: 23px;
  font-weight: 500;
  line-height: 100%;
}

/*====================*/

.cookie-table-1 {
  margin: 30px 0 0 0;
  padding: 0;
}

.cookie-table-1 table {
  width: 100%;
  margin: 0;
  padding: 0;
}

.cookie-table-1 table td,
.cookie-table-1 table th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.cookie-table-1 table th {
  padding: 5px 0;
  background-color: #e9eaee;
  font-weight: 500;
  text-align: center;
}

.cookie-table-1 table td {
  padding: 5px 8px;
  vertical-align: top;
}

.cookie-table-1 table td:nth-child(1) {
  width: 220px;
  text-align: center;
}

.cookie-table-1 table td:nth-child(3) {
  width: 130px;
  text-align: center;
}

/*====================*/

.cookie-table-2 {
  margin: 30px 0 0 0;
  padding: 0;
}

.cookie-table-2 table {
  width: 100%;
  margin: 0;
  padding: 0;
}

.cookie-table-2 table td,
.cookie-table-2 table th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.cookie-table-2 table th {
  padding: 5px 8px;
  font-weight: 500;
  background-color: #e9eaee;
}

.cookie-table-2 table td {
  padding: 5px 8px;
  vertical-align: top;
}

/*====================*/

.cookie-table-3 {
  margin: 30px 0 0 0;
  padding: 0;
}

.cookie-table-3 table {
  width: 100%;
  margin: 0;
  padding: 0;
}

.cookie-table-3 table td,
.cookie-table-3 table th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.cookie-table-3 table th {
  padding: 5px 8px;
  background-color: #e9eaee;
  font-weight: 500;
  text-align: center;
}

.cookie-table-3 table td {
  padding: 5px 8px;
  vertical-align: top;
}

.cookie-table-3 table td:first-child {
  width: 40%;
  text-align: center;
}
